@(section: Section, returnCall: String)(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any], page: String)

@main(Messages("sections.details", section.name)) {
  <h2>
    @Messages("sections.details", section.name)
  </h2>

  <dl class="dl-horizontal">
    <dt>@Messages("id"):</dt>
    <dd>@section.id</dd>

    <dt>@Messages("name"):</dt>
    <dd>@section.name</dd>
  </dl>

  <!-- <a href="@routes.Application.index">Return to Main</a> -->
  <a href="@returnCall">Return to Main</a>

}