@(sectionForm: Form[Section])(implicit flash: Flash, lang: Lang)

@import views.html.helper.FieldConstructor
<!-- @implicitFieldConstructor = @{ FieldConstructor(views.html.fieldtemplates.defaultBootstrapTemplateConstructor.f) }
 -->
@main(Messages("sections.form")) {
  <h2>@Messages("sections.form")</h2>

  @helper.form(action = routes.Sections.save()) {
    <fieldset>
      <legend>
        @Messages("sections.details", Messages("sections.new"))
      </legend>

      @{helper.inputText(sectionForm("pos"))}

    </fieldset>

    <p><input type="submit" class="btn primary" value='@Messages("sections.new.submit")'></input></p>
  }
}