@(sections: List[Section])(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any], page: String)

@main(Messages("application.name")) {

  <dl class="sections">
    @for(section <- sections) {
      <dt>
        <a href="@controllers.routes.Sections.show(section.pos)">
          @section.name
        </a>
      </dt>
    }
  </dl>

  <p>
    <a href="@controllers.routes.Sections.newSection()" class="btn">
      <i class="icon-plus"></i> @Messages("sections.new.command")</a>
  </p>
}