@()(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any], page: String)

@main(Messages("application.name")) {

  <div class="about">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas nisi vestibulum nunc vehicula, et scelerisque sem rhoncus. Donec eu felis eu sem ultricies pretium. Nam gravida purus non aliquam blandit. Etiam rhoncus convallis congue. Fusce sit amet gravida purus. Praesent bibendum sem leo. Nunc iaculis porta enim, vitae laoreet lectus imperdiet vitae.</p>

    <p>Integer vel tempus sapien, non porta risus. Proin sit amet erat enim. Maecenas eget quam at nibh lacinia commodo vitae nec nunc. Maecenas mollis nisi dolor, et posuere erat tempor quis. Ut malesuada tincidunt tempor. Nunc in felis ante. Mauris fringilla arcu non condimentum fringilla. Phasellus varius est sed diam tincidunt, non ultrices felis lacinia. Cras accumsan dolor ante, eu euismod sapien faucibus in. Fusce bibendum, lacus sit amet congue venenatis, risus tortor elementum nisl, in vulputate leo purus eget libero.</p>

    <p>Donec tortor enim, aliquam a elit vitae, interdum pulvinar urna. Mauris pellentesque sodales porta. Etiam luctus massa a rutrum volutpat. Nunc in egestas purus, ac viverra risus. Etiam pharetra nibh fringilla hendrerit lacinia. Aliquam posuere quam metus. Proin consequat malesuada turpis, nec posuere nibh imperdiet in. Integer ac hendrerit enim, in molestie turpis. Ut sit amet aliquam nisl. Vivamus a aliquam lacus. Etiam eu magna eleifend, laoreet neque id, aliquet diam. Sed cursus placerat est eget venenatis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>
}