@(sections: List[Section], asections: List[models.sectiontemplatemodels.ASection])(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any], page: String)

@import models.sectiontemplatemodels._
@import models.sectiontemplatemodels.ASection

@main(Messages("application.name")) {

  <div class="sections">
    @for(section <- sections) {
      <div class="section hover" id="@section.pos">
        <!-- <div class="sectionName">@section.name</div> -->

        <a class="sectionName" href="@controllers.routes.Sections.show(section.pos)">
          @section.name
        </a>
      </div>
    }
  </div>

  <div class="section">
    @for(section <- asections) {
      @println("Writing out template " + section.title)
      @section.applyTemplate()
    }
  </div>
}