@(title: String)(content: Html)(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any], page: String)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>

        <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>

        <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-1.9.0.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>

    </head>

    <body>
      <div class="container">
        @menu()
      </div>

      <div class="container">
        @if(flash.get("success").isDefined) {
          <div class="alert alert-success">
            @flash.get("success")
          </div>
        }

        @if(flash.get("error").isDefined) {
          <div class="alert alert-error">
            @flash.get("error")
          </div>
        }

        @content
        @debug()
      </div>
    </body>
</html>
