@()(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any], page: String)

<!-- Fixed navbar -->
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand">@Messages("application.name")</span>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="@if(page == routes.Application.index.url) { active }"><a href="@routes.Application.index()">Home</a></li>
        <li class="@if(page == routes.Application.about.url) { active }"><a href="@routes.Application.about">About</a></li>
        <li class="@if(page == routes.Application.contact.url) { active }"><a href="@routes.Application.contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
